@charset "UTF-8";@charset "UTF-8";

#img_block {
    padding-top: 50px;
    padding-bottom: 50px;
}

#main_img {
    display: flex;
    margin: 0 auto;
    padding: 20px 20px;
}
#main_box {
	width: auto;
	padding-top: 0px;
}

#con_sidebar {
    display: block;
    float: left;
    margin-right: 8px;
}

/* #landmain_list {
    transform: translateX(3%);
} */

#con_headline {
    font-size: 2em;
    width: 72%;
}
#con_headline > #headline {
	display: block;
}

#con_headline > #con_hr {
	height: 3px;
	width: 50%;
	float: left;
	color: darkgrey;
	background-color: darkgrey;
	margin-bottom: 25px;
}

#con_img {
	position : relative;
}

#con_img > #book {
	z-index: 30;
    position: absolute;
    left : 65%;
    top: 5px;
    width : 15%;
}

#con_img > .mark_button {
	z-index: 30;
    position: absolute;
    left : 65%;
    top: 5px;
    width : 15%;
    border: none;
    cursor: pointer;
}