@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.contents_sidebar {
	width: 300px;
	float: left;
	position: sticky;
	top: 20px;
}

.contents_img {
	text-align: right;
}

.img_tip {
	max-width: 100%;
  	width: auto !important;
  	height: auto !important;
}

.img_tip_traffic {
	text-align: right;
  	transform:translate(-50px, 50px);
}

.footer {
	
}