@charset "UTF-8";

.sidenav {
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c8c8c8;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 22px;
}

.sidenav a, .dropdown-btn {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #400040;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #fff;
  background-color: #FFD2D2;
}

.main {
  font-size: 20px;
  padding: 0px 10px;
}

.active {
  background-color: #F59696;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #808080;

}

#plusmark {
  display: block;
  float: right !important;
  padding-right: 8px;
  padding-top: 6px;
}
